@CHARSET "UTF-8";

.viewsFont{
	font-size:10px;
	overflow: hidden;
}

.publishDate{
	text-align: right;
}

.lifeTitle{
	float: none;
	font-size: 16px;
}

#lifeState ul li{
	margin: 10px 0px;
}

#lifeState h2{
	margin-top:0px;
	font-weight: bold;
}

.imageDiv h3{
	font-weight: bold;
}

.imageDivTitle{
	border-bottom: 1px solid #000;
}

.imageDiv{
	margin:20px 0px;
}

.minWidth{
	min-width:1080px;
}