.activitySlide {
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
} 
.activitySlide .pic img {
    
}

.activitySlide .hdSlide {
    bottom: 12px;
    font-size: 0;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 1;
}
.activitySlide .hdSlide .on {
    background-position: -140px -164px;
}

.activitySlide .hdSlide li {
    background: url("../../images/v5/sprite.png") no-repeat scroll -140px -177px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 7px;
    margin-right: 10px;
    overflow: hidden;
    width: 7px;
}

.activitySlide .prev {
    left: 5px;
    background-color: #FFCCCC;
}
.activitySlide .prev, .activitySlide .next {
	background-color: #774444;
    cursor: pointer;
    height: 16px;
    margin-top: -26px;
    padding: 10px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 8px;
    z-index: 10;
} 
#fade_focus{
	width: 100%;
}
#fade_focus ul{
	width: 100%;
	overflow: hidden;
}
#fade_focus ul li{
	float: left;
	width: 100%;
	overflow: hidden;
}
#fade_focus ul li img{
	max-height: 100%;
    width: 100%;
}
 .button{
	position:absolute; 
	z-index:1000; 
	right:0px; bottom:2px; 
	font-size:13px; 
	font-weight:bold; 
	font-family:Arial, Helvetica, sans-serif;
}.num_list span{
	display:inline-block;
	height:16px;
	padding-left:6px;
} 
.num_list{
	position:absolute;
	width:100%;
	left:0px;bottom:-1px;
	background-color:#000000;
	color:#FFFFFF;
	font-size:12px;
	padding:4px 0px;
	height:20px;
	overflow:hidden;
}
.loading{
	width:100%; 
	background-color:#ffffff;
	color:#FFCC00;
	font-size:12px;
	height:220px;
	text-align:center;
	padding-top:30px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
} 
.b1,.b2{
	background-color:#666666;
	display:block;
	float:left;
	padding:2px 6px;
	margin-right:3px;
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
	line-height:1.5;
}
.b2{
	color:#FFCC33;
	background-color:#FF6633;
}
.lastNext{
	width:19px;
	height:19px;
	margin-left:14px;
	float:right;
	display:block;
	position:relative;
	
	background:url(images/arrow_10.gif) no-repeat 7px 5px #dbdbdb;
	border:1px solid #d6d6d6;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	behavior:url(js/PIE.htc);
	
	text-indent:-9000px;
}
.firstPrev{
	width:19px;
	height:19px;
	margin-right:14px;
	float:left;
	display:block;
	position:relative;
	
	background:url(images/arrow_9.gif) no-repeat 6px 5px #dbdbdb;
	border:1px solid #d6d6d6;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	behavior:url(js/PIE.htc);
	
	text-indent:-9000px;
}
a{
	cursor:pointer;
}