@charset "utf-8";

body{ margin:0; padding:0; font-size:12px; }
ul,li,p{ margin: 0; padding: 0;  }
li{ list-style: none; }
img{ border: 0; }
a{ text-decoration: none; }

#content{ margin: 0 auto; width: 1080px; overflow: hidden; }
#content_top{ margin: 0 auto; width: 1080px;  overflow: hidden;}
#new_news{ padding-right:30px; width: 350px; float: left; }
#focus_img{ width: 700px; float: left; }
.p_title{ padding-bottom: 5px; font-size: 24px; font-weight: bold; border-bottom: solid 1px #b70005;  }
#new_news ul li{ margin-top: 10px;padding-bottom:5px ; border-bottom: solid 1px #ccc; }
#new_news ul li p{ padding: 3px 0 3px 0 ; font-family:微软雅黑; } 
.li_p_title{ font-weight: bold; font-size: 16px; }
.li_p_title a{ color: #000; } 
.li_p_content{ color:#333; font-size: 14px;}
.li_p_date{ color:#333; font-size: 14px;}
#new_news_leftSpan{}
#new_news_rightSpan{margin-left:50px;}

#content_medium{margin-top:20px;overflow: hidden;}
#today_news{width:350px;float:left;padding-right: 30px;}
#today_news ul li{ margin-top: 10px;padding-bottom:5px ; border-bottom: solid 1px #ccc; }
#today_news ul li p{ padding: 3px 0 3px 0 ; font-family:微软雅黑; } 
#Abroad_news{width:700px;float:left;}
.abroadNewsImg{width:30%;float:left;height:140px}
.abroadNewsImg img{width:100%;}
.abroadNewsText{width:65%;float:left;margin-left:5%;}
#Abroad_news ul li{ margin-top: 10px;padding-bottom:5px ;overflow: hidden;}
#Abroad_news ul li p{ padding: 3px 0 3px 0 ; font-family:微软雅黑; } 

#content_bottom{margin-top:20px;overflow: hidden;}
.imageDiv{margin:20px 0px;}
.imageDiv .col-xs-3{width:25%;float:left;}