@CHARSET "UTF-8";

ul, li {list-style: none;}
.selected{color:red;}
#qlintroLeft{padding:0px;}
#qlintroLeft ul{padding:0px;}
#qlintroLeft ul li{border-bottom: 1px solid #999;padding:0px;text-align: center;cursor: pointer;}
#qlintroRight{background-color: #fff;padding-bottom: 50px;}
#qlintroRight div h4{border-bottom:1px solid #999;font-weight: bold;}
